Read CSV File

In [78]:
import csv
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score


data = pd.read_csv("/Users/hoanh139/Desktop/pythonProject/Movie_Overview_Classification.csv",
engine = 'python',
encoding='utf8',
delimiter=',',
quotechar='|',
quoting=csv.QUOTE_MINIMAL)
data.head()

   id                                           overview  genre_Drama
0   1  When Lou, who has become the "father of the In...            0
1   2  Mia Thermopolis is now a college graduate and ...            1
2   3  Under the direction of a ruthless instructor, ...            1
3   4  Vidya Bagchi (Vidya Balan) arrives in Kolkata ...            1
4   5  Marine Boy is the story of a former national s...            0

In [79]:
data.isna().sum()

id             0
overview       8
genre_Drama    0
dtype: int64

In [80]:
index =0;
for row in data['overview']:
    if (str(row) == 'nan'):
        print(index)
    index+=1

data['overview'] = data['overview'].fillna('Unknown Overview')
data.isna().sum()

390
591
977
1335
1541
2150
2302
2865

id             0
overview       0
genre_Drama    0
dtype: int64

In [81]:
from sklearn.model_selection import train_test_split

text = data['overview']
genre = data['genre_Drama']

X_train, X_test, y_train, y_test = train_test_split(text, genre, test_size=0.2, random_state=42)

text_clf = Pipeline([
    ('vect', CountVectorizer(ngram_range=(1, 2))),        # Convert text to token counts
    ('tfidf', TfidfTransformer()),      # Apply TF-IDF transformation
    ('clf', SVC())             # SVC classifier
])

In [82]:
scores = cross_val_score(text_clf, text, genre)
print(f'Accuracy: {scores.mean()}')

Accuracy: 0.6673333333333333